.footer {
    background-color: rgb(80, 80, 90);
    border-top: 2px solid gray;
    flex-shrink: 0;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.08em;
}

.footer__container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: right;
    @media (max-width: 400px) {
        display: block;
        text-align: center;
    }
}

.footer__contacts_list {
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
        text-decoration: none;
    }
    li+li {
        margin-left: 10px;
    }
    @media (max-width: 400px) {
        margin: 10px 0;
    }
}

.footer__copyright {
    margin-left: auto;
}