@import 'start_settings';
@import 'fonts';
@import 'mixin';
@import 'header';
@import 'main';
@import 'footer';
body {
    // footer down
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    // set the width of the content and align it to the center
    max-width: 1290px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}